@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    /* transform: scaley(1.1); */
    translate: .7s;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

/********** START COMMON CLASS *************/
.brand_color {
    color: #ED2024;
}

.btn_color {
    background: #ED2024;
    color: #fff;
    border: none;
}

.btn-danger {
    background: #ED2024 !important;
}

/********** END OF COMMON CLASS *************/
/********** START OF HEADER*************/

nav {
    min-height: 80px;
    background: #F5F6FA;

}

.logo{
    width: 280px;
    height: 60px;
}

nav .service_dropdown_item{
    position: absolute;
    top: 50px;
    left: 40%;
    z-index: 9999;
    background-image: linear-gradient(#F5F6FA, white);
    visibility: hidden;
    opacity: 0;
    width: 30%;
 }

 nav .nav-item:hover .service_dropdown_item{
     color: #ED2024;
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
    transition: .7s;
}

nav .service_dropdown_item:hover  a{
    color: #ED2024;
}

nav .dropdown_item {
    /* border:1px solid #e0d8d8; */
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 9999;
    background-image: linear-gradient(#F5F6FA, white);
    visibility: hidden;
    opacity: 0;
    width: 100%;
}


nav .nav-item:hover .dropdown_item {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
    transition: .7s;
}



nav .nav_ul li:hover a {
    color: #ED2024;
    font-weight: bold;
    transform: scaleY(1.3);
    transition: .3s;
}

.nav_ul li a span {
    font-size: 20px;
}

/****************** END OF HEADER **************/
/********** START OF ABOUT SECTION *************/
#about {
    background: #F5F6FA;
    /*background: #C8BFE7;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#about h2 {
    text-align: center;
    justify-content: center;
}

#about h3 {
    padding-top: 10px;
}

#about p {
    text-align: justify;
}

/********** END OF ABOUT SECTION *************/
/********** START OF COURSE SECTION *************/
.course {
    background: #fff;
}

.course h2 {
    color: #ED2024;
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
}

.course_title:hover {
    color: #ED2024;
}


.course .course_p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.course .card:hover {
    transform: translate(5px, -15px);
    transition: 0.4s;
    /* box-shadow: 7px 7px #7c7575; */
}

.course_hover{
    box-shadow: none;
    outline: none;
}

.course .course_hover:hover{
    font-weight: bold;
    color: #ED2024 !important;
    background-color: #fff;
    border: 2px solid #ED2024;
    box-shadow: none;
    outline: none;
}


/********** END OF COURSE SECTION *****************/
/********** START OF SERVICE SECTION *************/
.service {
    background: #F5F6FA;
    /*padding-left: 80px;*/
}

.service h2 {
    color: #ED2024;
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
}

.service_title:hover {
    color: #ED2024;
}

.service .card_size {
    min-height: 600px;
}

.service .service_p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.service ul li a {
    color: #000;
    font-weight: 500;
}

.card-body {
    position: relative;
}

.service_detail a {
    position: absolute;
    bottom: 25px;
}

.service .card:hover {
    transform: translate(-5px, -15px);
    transition: 0.4s;
    /* box-shadow: 3px 3px #bdbdbd; */
}

.service_hover{
    box-shadow: none !important;
    outline: none !important;
}

.service .service_hover:hover{
    font-size: 15px;
    font-weight: bold;
    color: #ED2024;
    background-color: #fff;
    border: 2px solid #ED2024;
    box-shadow: none;
    outline: none !important;

}

/********** END OF SERVICE SECTION *****************/
/********** START OF FACILITY SECTION *************/
.facility {
    background: #fff;
}

.facility h2 {
    color: #ED2024;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.facility .card_size {
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
}

.faci_img {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/********** END OF FACILITY SECTION ***************/

/********** START OF CAREER SECTION *****************/
.career {
    background-color: #F5F6FA;
    padding: 30px 0px;
}

.career .img_placing {
    display: flex;
    height: 310px;
}

/********** END OF CAREER SECTION *******************/
/********** START OF CONTACT SECTION *******************/

.contact-heading {
    text-align: center;
    padding-top: 20px;
}

.contact-heading h2 {
    color: #eb4d4b;
    font-weight: bold;
}

.contact-heading h3 {
    color: #303841;
    font-weight: bold;
}

.contact-left {
    background-color: #515f63;
    padding: 15px 30px;
    border-radius: 15px;
    height: 514px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.contact-right {
    background-color: #515f63;
    padding: 15px 30px;
    border-radius: 15px;
}

/************ END OF CONTACT SECTION *******************/
/************ START OF FOOTER SECTION *******************/
footer {
    background: #303841;
}

.copyright {
    text-decoration: none;
}

.f-btn .btn:hover {
    background: #EB4D4B;
    color: #fff;
    border: 1px solid #EB4D4B;
}

.f-links a:hover {
    color: #EB4D4B !important;
    font-weight: bold;
    font-size: 17px;
    transition: 0.4s;
}

/************ END OF FOOTER SECTION *********************/



/*******************************************************************************
                            START OF ALL COURSE PAGE 
 *******************************************************************************/

.all_course .divider {
    width: 100px;
    height: 3px;
    background-color: #515f63;
    display: inline-block;
    opacity: 0.3;
    border-radius: 5px;
}


.hover_button {
    width: 100%;
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: coloumn;
    background-color: rgba(26, 25, 25, 0.739);
    /* background-colorgba(36, 35, 35, 0.6).6); */
}

.card:hover .hover_button {
    display: flex;
}

.course_btn {
    color: #fff;
    border: 2px solid #fff;
}

.course_btn:hover {
    text-color: #000 !important;
    background-color: #fff;
    transition: .7s;
}



.enroll_btn {
    font-size: 10px;
}

.review i{
    color: #FFB606 !important;
}

/*********************** VIEW COURSE WEB DESIGN *******************/

/* ====top breadcrumb style==== */

.breadcrumb {
    background-color: transparent !important;
    font-weight: 600;
}

.breadcrumb a {
    color: #666 !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
    text-decoration: none !important;
}

.breadcrumb a:hover {
    color: #FEBA18 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    content: ">" !important;
}


/* ====top breadcrumb style end==== */


/* ====top banner style==== */

.top-banner {
    background: #442E66 !important;
    height: 250px;
    color: #Fff;
    font-family: 'Roboto', sans-serif !important;
}

.course-details {
    display: inline-flex !important;
}

.course-details div {
    margin-right: 20px !important;
}

.author-info img {
    width: 46px;
    height: 46px;
}

.author-info p,
.Category p {
    color: #999 !important;
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    line-height: 1.5em;
}

.author-info h6 a {
    font-weight: 500px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.author-info h6 a:hover {
    color: #FFB606;
}

.Category i {
    color: #FFB606;
    font-size: 45px;
    margin-right: 8px;
}

.Category ul {
    color: #Fff;
    margin: 0px !important;
    padding: 0px !important;
}

.Category ul li {
    list-style: none;
    display: inline;
}

.Category ul li a {
    color: #fff !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    text-transform: capitalize;
}

.Category ul li a:hover {
    color: #FFB606 !important;
}

.Category ul li+li::before {
    content: "|" !important;
    color: #fff !important;
    margin: 0px 5px;
}

.review i {
    color: #999;
}

.review p {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif !important;
}

.course-introduction ol {
    padding-top: 20px;
    list-style: none !important;
    margin-left: 23px;
}

.course-introduction ol li {
    display: inline;
    margin-right: 50px;
    list-style: none !important;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif !important;
}

.course-introduction ol li i {
    color: #FFB606;
    font-size: 18px;
}

.course-price .price {
    border-radius: 0px !important;
    background-color: #fff;
    position: fixed;
    font-family: 'Roboto', sans-serif !important;
}

.price-body {
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 1);
}

.course-price img {
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    width: 100% !important;
    height: auto !important;
}

.course-price .btn {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px 25px 10px 25px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}

.course-price .btn:hover {
    color: #fff;
    background-color: #FFB606;
    border: 1px solid #FFB606;
}


/* ====top banner end==== */


/* ====course-nav-tab style==== */

.course-nav-tab .nav-tabs {
    background: #F1F2F8 !important;
    margin: 30px 0px;
    display: -webkit-inline-box;
    border: none !important;
    font-family: 'Roboto', sans-serif !important;
}

.course-nav-tab .nav-tabs .nav-link {
    border: 1px solid rgba(204, 204, 204, 0.3) !important;
    padding: 20px 50px !important;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #000 !important;
}

.course-nav-tab .nav-item .active {
    background-color: #fff !important;
    color: #FFB606 !important;
    border-top: 4px solid #FFB606 !important;
}


/* ====course-nav-tab content style==== */

.overview-tab h5 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif !important;
}

.overview-tab p {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Roboto', sans-serif !important;
}

.tab-content ul li {
    margin-left: 20px;
    padding: 5px;
    color: #333333;
    font-weight: 500;
}

.curriculum-tab .btn-link {
    font-weight: 400;
    color: #333;
    text-decoration: none !important;
}

.curriculum-tab .btn-link:hover {
    color: #FFB606 !important;
}

.curriculum-tab .btn-link::before {
    content: "\ea0e \3000";
    font-family: "Material Icons" !important;
    font-size: 24px !important;
    margin: 0px !important;
    color: #FFB606 !important;
    margin-left: auto !important;
}

.curriculum-tab .btn-link::after {
    content: "\3000 \e897";
    font-family: "Material Icons" !important;
    font-weight: 400;
    color: #442E66 !important;
}

.instructor img {
    width: 100px;
    height: 100px;
    text-align: center !important;
}

.instructor a {
    color: #333 !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 22px;
}

.instructor a:hover {
    color: #FFB606 !important;
}

.review-count h2 {
    font-size: 60px !important;
    text-align: center !important;
}

.review-count ul li i {
    text-align: center !important;
}


/* .review-count ul li  */

.star-icon {
    list-style: none;
    display: inline;
    margin: auto;
    padding: 0px;
    color: #999999 !important;
}

.star-icon::after {
    content: "\e838 \e838 \e838 \e838 \e838 ";
    font-family: "Material Icons" !important;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.review-count p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.review-number,
.review-bar {
    height: 20px !important;
    margin: 10px 0px;
}

#comment{
    display: flex;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 520px;
    padding: 80px 50px;
}

#post{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}



/*****************************************************************************
                            END OF ALL COURSE PAGE 
 *****************************************************************************/


 /*****************************************************************************
                            START OF SERVICE PAGE 
 *****************************************************************************/

.service_page .card-body li{
    border-bottom: 1px solid #e8ecec;
    text-align: center;
    padding: 10px 0px;
}



.service_page .card-body li:last-child{
    border-bottom: unset;
}
.service_page .button_height button{
    font-size: 20px;
}

 /******************************************************************************
                            END OF SERVICE PAGE 
 ******************************************************************************/


/*****************************************************************************
                            START OF Login or Sign up PAGE 
*****************************************************************************/
.log_in{
    top: 20;
    background-color: #EEF1F7;
    padding: 25px 40px;
    border-radius: 5px;
    min-height: 405px;
    justify-content: center;
}

.sign_up{
    background-color: #EEF1F7;
    padding: 25px 40px;
    border-radius: 5px;
}




/*****************************************************************************
                            END OF Login or Sign up PAGE 
*****************************************************************************/


/*******************************************************************************
                            START OF ALL MEDIA QUERY 
 *******************************************************************************/

@media screen and (max-width: 768px) {
    .service_detail a {
        position: unset;
        margin-top: 20px;
    }

    .career .img_placing {
        display: none;
    }

    .fot_icon {}

    .fot_subs_btn {
        padding-top: 10px;
    }
}

/********************************************************************************
                            END OF ALL MEDIA QUERY 
 ********************************************************************************/